/* about.css */

#about {
  padding: 50px;

}

.box-imag-flax {
  text-align: center;
}

.two-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.box {
  flex: 1;
}

.box-img img {
  width: 65%;
  border-radius: 50%;
  background-color: #007bff;
}

.box-details-right {
  flex: 1;
  margin-left: 20px;
}

.box3-flax {
  display: flex;
  justify-content: center;
  gap:1rem;
}

.box1,
.box2,
.box3 {
 
  text-align: center;
  background-image: linear-gradient(rgb(54, 122, 159), rgb(25, 37, 46));
  color: black;
  gap:2rem;
  padding:1.5rem;
  border-radius:1rem;

}

.box1:hover,
.box2:hover,
.box3:hover {
  background-color: #d2d8e0;
  color: black;
}


button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #071f39;
  color: #fff;
  cursor: pointer;
}


 button:hover {
  background-color: #0056b3;
}

.p{
  padding:3rem;
}


@media screen and (max-width: 768px) {
  .two-box {
    flex-direction: column; /* Change to column layout on smaller screens */
  }

  .box-img img {
    width: 80%; /* Reduce image size on smaller screens */
    max-width: none; /* Remove max-width for image */
  }

  .box-details-right {
    margin-left: 0; /* Reset margin */
  }

  .box1,
  .box2,
  .box3 {
    flex-basis: 90%; /* Set width for smaller screens */
  }

}