/* Portfolio.css */
.card-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 100vh; */
}

.card {
  width: 20rem;
  margin: 20px;
  padding: 25px;
  background-image: linear-gradient(rgb(54, 122, 159), rgb(25, 37, 46));
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-text {
  margin-top: 10px;
}

.card-buttons {
  margin-top: 20px;
  display: flex;
  gap: 1rem;
}

.top-row {
  display: flex;
}

.bottom-row {
  display: flex;
}

button {
  color: aliceblue;
}
